.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f8f9fa;
	border-bottom: 1px solid #e9ecef;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 1rem;

	&__logo {
		color: black;
		background-size: contain;
		width: 100%;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid red;
			&:hover {
				cursor: pointer;
			}
		}
	}

	&__menu {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		&-item {
			margin: 0 1rem;
			&:hover {
				cursor: pointer;
			}
		}

		&-item--active {
			color: #007bff;
		}

		&-link {
			color: black;
			text-decoration: none;
		}
	}
}
