.footer {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(11, 38, 48);
	height: 60px;
	text-align: center;
	color: #6c757d;
	border-top: 1px solid #e9ecef;

	a {
		color: #6c757d;
		text-decoration: none;
		&:hover {
			color: #007bff;
		}
	}
}
