
// Reset
// --------------------------------------------------
*  {
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
}

// Typography
// --------------------------------------------------
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	 width: inherit;
}

// Links
// --------------------------------------------------
a {
	color: inherit;
	text-decoration: none;
}

// Lists
// --------------------------------------------------
ul {
	list-style-type: none;
}

// Buttons
// --------------------------------------------------
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1rem;
}

// Inputs
// --------------------------------------------------
input {
	border: none;
}

// Containers
// --------------------------------------------------
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

// Flex
// --------------------------------------------------
.flex {
	display: flex;
}

// Flex Center
// --------------------------------------------------
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
